<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pro GPT</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/flatly/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="alert alert-info">
        <p>Thank you for your interest in the app.</p>
        <p>We are currently down for maintainance.</p>
      </div>
    </div>
  </body>
</html>
